# Data Types and Structures - Problem sets

### Exercise 1: Check Data Types

Write a Python program that prints the data types of the following variables:
```python
a = 42
b = 3.14
c = "Python"
d = [1, 2, 3]
e = (1, 2, 3)
f = {'name': 'John', 'age': 30}
g = {1, 2, 3}
```

In [1]:
# Your code

### Exercise 2: List Operations

Create a list with the elements `[10, 20, 30, 40, 50]`. Add `60` to the list, remove `30`, and reverse the list.

In [2]:
# Your code

### Exercise 3: Tuple Unpacking

Given the following tuple, unpack its elements into separate variables and print them:
```python
my_tuple = (100, 200, 300)
```

In [2]:
# Your code

### Exercise 4: Dictionary Manipulation

Create a dictionary with keys `'name'`, `'age'`, and `'city'`, and values `'Alice'`, `25`, and `'New York'`. Update the age to `26` and add a new key `'profession'` with value `'Engineer'`.

In [3]:
# Your code

### Exercise 5: Set Operations

Create two sets, `set1` with elements `{1, 2, 3, 4}` and `set2` with elements `{3, 4, 5, 6}`. Find the union, intersection, and difference between these sets.

In [4]:
# Your code

### Exercise 6: String Slicing

Given the string `s = "Hello, Python!"`, write code to:
1. Extract the substring `"Python"`.
2. Reverse the entire string.

In [5]:
# Your code

### Exercise 7: Boolean Logic

You are given three numbers, a, b, and c. Write a Python program that returns True if a is the largest number and b is not equal to c. Otherwise, return False.

In [2]:
# Input numbers
a = 10
b = 5
c = 5

# Your code

### Exercise 8: Complex Boolean Logic with Multiple Conditions

Write a Python program that checks the following conditions for three variables x, y, and z:

1.	x is greater than y or y is equal to z.
2.	The sum of x and y is even.
3.	x, y, and z are all positive numbers.

The program should return True only if all three conditions are met.

In [1]:
# Input variables
x = 8
y = 6
z = 6

# Your code

### Exercise 9: Checking for Keys in a Dictionary

Given the dictionary `person = {'name': 'Bob', 'age': 25}`, check if the key `'age'` exists in the dictionary and print a message.

In [8]:
# Your code

### Exercise 10: Nested Data Structures

Create a dictionary `students` where each key is a student's name and each value is a dictionary containing their `'age'` and a list of their `'grades'`. 

Enter the following data in the dictionary:
- Alice is 24 and has grades 88, 92 and 86
- Bob is 23 and had grades 75, 80, 89

Print Bob’s age and Alice’s grades.

In [9]:
# Your code